<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul id="nav-mobile" class="right">
        {{#if user}}
        <li><a href="/ideas">Ideas</a></li>
        <li><a href="/ideas/add">Add An Idea</a></li>
        <li>|</li>
        <li><a href="/users/logout">Logout</a></li>
        {{else}}
        <li><a href="/users/login">Login</a></li>
        <li>|</li>
        <li><a href="/users/register">Register</a></li>
        {{/if}}
      </ul>
    </div>
 </nav>