<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul id="nav-mobile" class="right">
        <li><a href="/ideas">Ideas</a></li>
        <li><a href="/ideas/add">Add An Idea</a></li>
      </ul>
    </div>
 </nav>