<div class="row">
    <form class="col m12" action="/ideas" method="post">
      <h1 class="center">Enter An Idea</h1>
      <div class="row">
        <div class="input-field col m12">
          <h4>Title</h4>
          {{#if title}}
            <input name="title" id="title" type="text" value={{title}}>
          {{else}}
            <input name="title" id="title" type="text" placeholder="Title">
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="input-field col m12">
          <h4>Details</h4>
          {{#if details}}
          <textarea name="details" type="text">{{details}}</textarea>
          {{else}}
            <textarea name="details" type="text" class="materialize-textarea" placeholder="Description"></textarea>
          {{/if}}
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Store</button>
    </form>
  </div>