<div class="row">
	<div class="col m12">
		<ul class="collection">
			{{#each ideas}}
				<li class="collection-item">
					<h4 class="center">{{title}}</h4>
					<br />
					<p class="center">{{details}}</p>
				</li>
			{{else}}
				<p class="center blue-text">No Ideas Found...</p>
			{{/each}}
		</ul>
	</div>
</div>